<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Webby</string>
	<key>ordering</key>
	<array>
		<string>47AFCBF8-07A6-4A94-B394-0CDE3F110798</string>
		<string>F3AC4015-7936-4C1F-90DD-4A3F517CBAE9</string>
	</array>
	<key>uuid</key>
	<string>0D233458-334D-47E5-BA40-12B9C4695C8E</string>
</dict>
</plist>
